body {
  overflow: visible;
  counter-reset: h1counter;
}

h1.toc {
  counter-reset: h2counter;
}

h1.toc:before {
  content: 'Chapter\0000a0\0000a0' counter(h1counter) ".\0000a0\0000a0";
  counter-increment: h1counter;
  counter-reset: h2counter;
}

h1.toc.nocount:before {
  content: none;
  counter-increment: none;
}

h2.toc {
  counter-reset: h3counter;
}

h2.toc:before {
  content: counter(h1counter) "." counter(h2counter) ".\0000a0\0000a0";
  counter-increment: h2counter;
}

h2.toc.nocount:before {
  content: none;
  counter-increment: none;
}

h3.toc:before {
  content: counter(h1counter) "." counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
  counter-increment: h3counter;
}

h3.toc.nocount:before {
  content: none;
  counter-increment: none;
}

pre {
  white-space: pre-wrap;
  overflow: hidden;
}

@media print {
  .newpage {
    page-break-before: always;
  }

  body {
    font-size: 11px;
    /*line-height: 1.5em;*/
  }
}

a {
  text-decoration: none;
  color: #3e4982;
}

a:visited {
  color: #3e4982;
}
