<header class="site-header">
  <div class="container">
    <ul class="network-nav nav">
      {% for p in site.data.structure %}
        <li><a class="page-link{% if page.url contains p.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a></li>
   	  {% endfor %}
    </ul>

    <div class="brand">
      <img class="logo" src="/assets/site/curve.png">
      <h1>Yamcs</h1>
      <h3 class="tagline">Modern, Lightweight, Scalable<br>Mission Control System</h3>
    </div>
  </div>
</header>
