<footer class="site-footer">

  <div class="container">
    <div class="footer-inset">
      <div class="footer-col-wrapper">
        <div class="footer-col  footer-col-1">
          <ul class="contact-list">
            <li>&copy; {{ site.time | date: '%Y' }} Space Applications Services</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </div>

        <div class="footer-col footer-col-2">
        </div>

        <div class="footer-col footer-col-3">
          <p class="text" style="text-align: right;"><a href="https://github.com/yamcs/yamcs/issues">Report a yamcs issue</a></p>
        </div>
      </div>
    </div>

  </div>

</footer>
