<footer class="site-footer">

  <div class="container">
    <div class="footer-inset">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <li>&copy; {{ site.time | date: '%Y' }} Space Applications Services</li>
            <li>
              <a
                  id="site_m"
                  data-m1="eWFtY3M="
                  data-m2="QHNwYWNlYXBwbGljYXRpb25zLmNvbQ=="
                  href="#">
               </a>
            </li>
          </ul>
        </div>

        <div class="footer-col footer-col-2">
        </div>

        <div class="footer-col footer-col-3">
          <p class="text" style="text-align: right;"><a href="https://github.com/yamcs/yamcs/issues">Report a Yamcs issue</a></p>
        </div>
      </div>
    </div>

  </div>
  <script>
    (function () {
      var emailEl = document.getElementById('site_m');
      var v = atob(emailEl.getAttribute('data-m1')) + atob(emailEl.getAttribute('data-m2'));
      emailEl.setAttribute('hr' + 'ef', 'ma' + 'ilt' + 'o:' + v);
      emailEl.innerText = v;
    })();
  </script>

</footer>
