<header class="site-header">
  <div class="container top">
    <div class="yamcs-header">
      <a href="/">
        <img class="page-logo" src="{{ site.baseurl }}/assets/curve_dark.png">
        <h3>
          Yamcs
        </h3>
      </a>
    </div>

    <ul class="network-nav nav">
      {% for p in site.data.structure %}
        <li><a class="page-link{% if page.url contains p.url %} active{% endif %}" href="{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}
    </ul>
    <div style="clear:both;"></div>
  </div>
</header>
