<div class="page-subheader">
  {% if page.url contains '/docs/server' %}
    <a href="/docs/">Docs</a> /
    <a href="/docs/server/">Yamcs Server</a>

    {% for p in site.data.sidebar.guides.server %}
      {% if p.url == page.url %}
        / <span class="active">{{ p.title }}</span>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if page.url contains '/docs/studio' %}
    <a href="/docs/">Docs</a> /
    <a href="/docs/studio/">Yamcs Studio</a>

    {% for p in site.data.sidebar.guides.studio %}
      {% if p.url == page.url %}
        / <span class="active">{{ p.title }}</span>
      {% endif %}
    {% endfor %}
  {% endif %}
</div>
