<div class="page-subheader">

  {% assign structure=false %}



  {% assign documents = "server,studio,tools,api" | split: ',' %}
  {% assign titles = "x,Yamcs Server Manual,Yamcs Studio User Guide,Yamcs Client Tools Guide,Yamcs Server API" | split: ',' %}

  {% for document in documents %}
      {% capture url %}/docs/{{ document }}/{% endcapture %}
      {% if page.url contains url %}
        {% assign title = titles[forloop.index] %}
        <a href="/docs/">Docs</a> /
        {% if page.url == url %}
          {{title}}
        {% else %}
          {% if page.version %}
	    {% capture structureName %}{{ document }}_{{ page.version | replace: '.', '_'}}{% endcapture %}
            {% assign structure=site.data.sidebar.guides.[structureName] %}
            <a href="{{url}}">{{title}}</a>
            / <a href="{{url}}{{page.version}}">{{page.version}}</a>
          {% else %}
            {% assign structure=site.data.sidebar.guides.[document] %}
            <a href="{{url}}">{{title}}</a>
          {% endif %}
        {% endif %}
      {% endif %}
  {% endfor %}

  {% if structure %}
    {% for chapter in structure %}
      {% for item_i in chapter.items %}
        {% if item_i.url == page.url %}

          {% for p in site.pages %}
            {% if p.url == chapter.url %}
              / <a href="{{ p.url }}">{{ p.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}</a>
              {% break %}
            {% endif %}
          {% endfor %}
          {% break %}

        {% endif %}
      {% endfor %}
    {% endfor %}
    / <span class="active">{{ page.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}</span>
  {% endif %}

  {%if page.previousVersions %}
    <div style="float: right;">
      &nbsp;
      <select onChange="window.location.href=this.value">
        <option value="">Version...</option>
        {% for version in page.previousVersions %}
          {% capture link %}{% if page.version %}{{page.permalink | remove: page.version}}{% else %}{{page.permalink}}{% endif %}{% endcapture %}
          {% capture link %}{{link | replace: '//', '/'}}{% endcapture %}
          {% if version == "latest" %}
            <option value="{{link}}">{{ version }}</option>    
          {% else %}
            <option value="{{link}}{{ version }}/">{{ version }}</option>    
          {% endif %}
        {% endfor %}
      </select>
    </div>
  {% endif %}
</div>
