{% if page.url contains '/downloads' %}
{% else %}
  <div class="page-subheader">
    {% assign structure=false %}
    {% assign documents = "server,studio,http,cli" | split: ',' %}
    {% assign titles = "x,Yamcs Server Manual,Yamcs Studio User Guide,Yamcs HTTP API,Yamcs Command-Line Interface" | split: ',' %}

    {% for document in documents %}
      {% capture docurl %}/docs/{{ document }}/{% endcapture %}
      {% if page.url contains docurl %}
        {% assign title = titles[forloop.index] %}
        <a href="/docs/">Docs</a> /
        {% if page.url == docurl %}
          {{title}}
        {% else %}
          {% assign structure=site.data.sidebar.guides[document] %}
          <a href="{{docurl}}">{{title}}</a>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if structure %}
      {% for chapter in structure %}
        {% for item_i in chapter.items %}
          {% if item_i.url == page.url %}

            {% for p in site.pages %}
              {% if p.url == chapter.url %}
                / <a href="{{ p.url }}">{{ p.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}</a>
                {% break %}
              {% endif %}
            {% endfor %}
            {% break %}

          {% endif %}
        {% endfor %}
      {% endfor %}
      / <span class="active">{{ page.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}</span>
    {% endif %}
  </div>
{% endif %}
