{% if include.items %}
  <ul class="items">
    {% for section in include.items %}

      {% assign expand_section=false %}
      {% assign active_section=false %}
      {% if section.url == page.url %}
        {% assign expand_section=true %}
        {% assign active_section=true %}
      {% else %}
        {% for subsection in section.items %}
          {% if subsection.url == page.url %}
            {% assign expand_section=true %}
            {% break %}
          {% endif %}
        {% endfor %}
      {% endif %}

      <li>
        {% if page.url == section.url %}
          <span class="sidebar-item-2 {% if active_section %}active{% endif %} {% if expand_section %}expanded{% endif %}">
            {% if page.title %}
              {{ page.title }}
            {% else %}
              {{ page.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
            {% endif %}
          </span>
        {% else %}
          {% assign exists=false %}
          {% assign p_i=false %}
          {% for p in site.pages %}
            {% if p.url == section.url %}
              {% assign exists=true %}
              {% assign p_i=p %}
              {% break %}
            {% endif %}
          {% endfor %}
          <a class="sidebar-link-2 {% if active_section %}active{% endif %} {% if expand_section %}expanded{% endif %}  {% if exists == false %} broken{% endif %}" href="{{ section.url }}">
            {% if exists %}
              {% if p_i.title %}
                {{ p_i.title }}
              {% else %}
                {{ p_i.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
              {% endif %}
            {% else %}
              {{ section.url }}
            {% endif %}
          </a>
        {% endif %}

        {% if section.items %}
          <ul>
            {% for subsection in section.items %}
              {% if page.url == subsection.url %}
                <li class="active">
                  <span class="sidebar-item-3 active">
                    {% if page.title %}
                      {{ page.title }}
                    {% else %}
                      {{ page.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
                    {% endif %}
                  </span>
                </li>
              {% else %}
                <li>
                  {% assign exists=false %}
                  {% assign p_j=false %}
                  {% for p in site.pages %}
                    {% if p.url == subsection.url %}
                      {% assign exists=true %}
                      {% assign p_j=p %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  <a class="sidebar-link-3{% if exists == false %} broken{% endif %}" href="{{ subsection.url }}">
                    {% if exists %}
                      {% if p_j.title %}
                        {{ p_j.title }}
                      {% else %}
                        {{ p_j.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
                      {% endif %}
                    {% else %}
                      {{ p.url }}
                    {% endif %}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
