<div class="sidebar">
  <!--span class="sidebar-item" href="/docs/studio/installation">Yamcs Studio</span-->

  {% if page.url contains '/docs/server' %}
    {% for link in site.data.sidebar.guides.server %}
      {% if page.url == link.url %}
        <span class="sidebar-item">{{ link.title }}</span>
      {% else %}
        <a class="sidebar-link" href="{{ link.url }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if page.url contains '/docs/studio' %}
      {% for link in site.data.sidebar.guides.studio %}
        {% if page.url == link.url %}
          <span class="sidebar-item">{{ link.title }}</span>
        {% else %}
          <a class="sidebar-link" href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
  {% endif %}
</div>
