<div id="sidebar" class="sidebar">
  {% for link in include.structure %}

    {% comment %}
      Open for other ideas that work on github too (i.e. no plugins)
      here we just check all nested pages, to determine expansion state
    {% endcomment %}

    {% assign expand=false %}
    {% for item in link.items %}
      {% if item.url == page.url %}
        {% assign expand=true %}
      {% else %}
        {% for item_j in item.items %}
          {% if item_j.url == page.url %}
            {% assign expand=true %}
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endfor %}

    <div class="sidebar-item {% if expand %}expanded{% else %}collapsed{% endif %}">
      <span class="sidebar-item-hdr">{{ link.title }}</span>

      {% include sidebar-items.html items=link.items %}
    </div>

  {% endfor %}
</div>
