{% if include.items %}
  <ul class="items">
    {% for item in include.items %}
      <li>
        {% if page.url == item.url %}
          <span class="sidebar-item-2 active">
            {% if page.title %}
              {{ page.title }}
            {% else %}
              {{ page.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
            {% endif %}
          </span>
        {% else %}
          {% assign exists=false %}
          {% assign p_i=false %}
          {% for p in site.pages %}
            {% if p.url == item.url %}
              {% assign exists=true %}
              {% assign p_i=p %}
              {% break %}
            {% endif %}
          {% endfor %}
          <a class="sidebar-link-2{% if exists == false %} broken{% endif %}" href="{{ item.url }}">
            {% if exists %}
              {% if p_i.title %}
                {{ p_i.title }}
              {% else %}
                {{ p_i.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
              {% endif %}
            {% else %}
              {{ item.url }}
            {% endif %}
          </a>
        {% endif %}

        {% if item.items %}
          <ul>
            {% for item_j in item.items %}
              {% if page.url == item_j.url %}
                <li>
                  <span class="sidebar-item-3 active">
                    {% if page.title %}
                      {{ page.title }}
                    {% else %}
                      {{ page.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
                    {% endif %}
                  </span>
                </li>
              {% else %}
                <li>
                  {% assign exists=false %}
                  {% assign p_j=false %}
                  {% for p in site.pages %}
                    {% if p.url == item_j.url %}
                      {% assign exists=true %}
                      {% assign p_j=p %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  <a class="sidebar-link-3{% if exists == false %} broken{% endif %}" href="{{ item_j.url }}">
                    {% if exists %}
                      {% if p_j.title %}
                        {{ p_j.title }}
                      {% else %}
                        {{ p_j.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
                      {% endif %}
                    {% else %}
                      {{ p.url }}
                    {% endif %}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}
