body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, ol, ul, figure {
  margin: 0;
  padding: 0;
}

dd {
  margin-bottom: 15px;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: darken($brand-color, 15%);
  text-decoration: none;

  &.broken {
    color: #c00 !important;
  }

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  font-size: 13px;
  border: 1px solid #cacaca;
  border-radius: 3px;
  background-color: #fafafb;
}

code {
  padding: 1px 5px;

  &.config-file {
    white-space: pre-wrap;
    font-size: smaller;
  }
}

pre.header {
  background-color: #f4f4f4;
  border: 1px solid #cacaca;
  margin-bottom: -5px;
  padding-left: 12px;

  &.r {
    text-align: right;
  }
}

pre.header + .highlight pre {
  border-radius: 0 0 3px 3px;
  border-top-color: #ddd;
  margin-top: -2px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

h4 {
  font-weight: 600;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.toc {
  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }

  ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
  }

  li ol > li {
    margin: 0;
  }

  li ol > li:before {
    content: counters(item, ".") " ";
  }
}

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.inline-image {
  vertical-align: top;
  padding-left: 5px;
}

.hint {
  background: url('/assets/site/idea.png') 5px 5px no-repeat;
  /*background-size: 20px;*/
  border-top: 1px solid #eef;
  border-bottom: 1px solid #eef;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 40px;
  margin-left: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: smaller;
  min-height: 30px;
}

.pdf {
  background: url('/assets/site/pdf.png') 5px 5px no-repeat;
  /*background-size: 20px;*/
  border-top: 1px solid #eef;
  border-bottom: 1px solid #eef;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 40px;
  margin-left: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: smaller;
  min-height: 30px;
}

table.inline {
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%;
  th {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    padding: 0.3em 0.5em;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
  }
  td {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  th.code, td.code {
    font-family: monospace;
  }
  &.small-contents td {
    font-size: smaller;
  }
  &.nostretch {
    width: auto;
  }
  &.image-overview img {
    padding-right: 0.5em;
  }
}
