body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 300;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

ul, ol {
  margin-left: $spacing-unit;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

a {
  color: darken($brand-color, 15%);
  text-decoration: none;

  &.broken {
    color: #c00 !important;
  }

  &:visited {
    color: darken($brand-color, 15%);
  }

  &:hover {
    color: $text-color;
    text-decoration: underline;
  }
}

blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

pre,
code {
  /*font-size: 15px;*/
  border: 1px solid $grey-color-light;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

h4 {
  font-weight: 600;
}

.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.container {
  /*font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px 10px;

  &.small {
    max-width: 700px;
  }
}

.container .brand {
  position: relative;
  /*padding-left: 360px;*/
  padding-left: 230px;
  /*margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;*/
  min-height: 310px;
}

.container .brand .logo {
  display: block;
  position: absolute;
  left: -20px;
  top: 20px;
  border: 0;
}

.container .brand h1 {
  font-weight: bold;
  letter-spacing: -0.04em;
  display: inline-block;
  margin: 0;
  color: #3e4981;
  font-size: 100px;
  line-height: 1;
  padding-top: 60px;
}

.container .brand h3 {
  font-weight: bold;
  letter-spacing: -0.04em;
  margin: 0 0 30px;
  font-size: 48px;
  line-height: 1;
  color: #222;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.yamcs-header {
  position: absolute;
  left: 40px; /* separate with image */
  top: -10px - 10px  + (48px - 10px - 10px - 10px - 10px);

  a {
    text-decoration: none;
  }

  a.hover {
    text-decoration: none;
  }

  h3 {
    display: inline;
    font-size: 30px;
    line-height: 48px;
    font-weight: bold;
    color: #3e4981;
  }
}

.network-nav {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  display: inline;
  float: right;
  z-index: 2; /* to capture clicks from under brand */
}

.network-nav li {
  display: inline;
}

.network-nav a {
  color: #222;
  font-weight: 300;
  padding: 0.2em 15px;
  border-radius: 4px;

  &.special {
    /*background-color: #bada55;*/
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.main {

  &.with-sidebar {
    margin-left: 230px;
  }
}

%clearfix {

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}
