.site-header {
  background: #eee;
  color: #543729;
  padding: 10px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.025em;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 220px;
  color: #222;
}

.page-logo {
  height: 40px;
  position: absolute;
  top: 5px;
  left: -40px;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.icon-grid {

}

.icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 1px solid #3e4981;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  .icon {
    line-height: 80px;
  }
}

.sidebar {

  /*padding-top: 30px;*/
  border-right: 1px solid #e8e8e8;

  li > a {
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .sidebar-link {
    display: block;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: $grey-color-light;
    margin-bottom: 5px;
  }

  .sidebar-item-hdr {
    display: block;
    /*border-radius: 5px;*/
    padding: 5px 10px;
    /*background-color: $grey-color-light;*/
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;

    &:hover {
      background-color: $grey-color-light;
    }
  }

  .active > .sidebar-item-hdr {
    background-color: #1756a9 !important;
    color: white !important;
  }

  .expanded > .sidebar-item-hdr {
    /*border-left: 2px solid #eef;*/
    background-color: $grey-color-light;
  }

  .sidebar-link-2 {
    padding-left: 1em;
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-decoration: none;
    color: #222;
    font-size: smaller;

    &:hover {
      background-color: #efefef;
    }

    &.active {
      font-weight: 400;
      border-left: 2px solid #3e4981;
    }
  }

  .sidebar-item-2 {
    /*font-weight: bold;*/
    color: #222;
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    font-size: smaller;

    &.active {
      font-weight: 400;
      border-left: 2px solid #3e4981;
    }
  }

  ul.items {
    list-style: none;
    padding-left: 0;
    margin-left: 30px;
    border-left: 1px solid $grey-color-light;
  }

  ul.items > li > ul {
    list-style-image: url('/assets/chevron-right.png');
  }

  .sidebar-item.collapsed ul.items {
    display: none;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }

    &.special {
      /*background-color: #2a7ae2;*/
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}


.next-link {
  float: right;
  font-size: 12px;
}

ul.contact-list {
  list-style: none;
  margin-left: 0;
  font-size: smaller;
}

.page-subheader {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: smaller;
  margin-bottom: 10px;
  color: #aaa;
}

#content {
  min-height: 600px;
}

.toc {
  ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
  }

  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  }

  ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;
  }

  li ol > li {
    margin: 0;
  }

  li ol > li:before {
    content: counters(item, ".") " ";
  }
}

.footer-inset .text {
  font-size: smaller;
}

.site-footer {
  padding: $spacing-unit 0;
}

.footer-inset {
  border-top: 1px solid $grey-color-light;
  padding-top: 0.5em;

  &.with-sidebar {
    margin-left: 230px;
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.sidebar {
  position: absolute;
  left: 10px;
  top: 0;
  width: 200px;
}

a img.page-logo {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

a:hover img.page-logo {
  opacity: 0.4;
}

.inline-image {
  vertical-align: top;
  padding-left: 5px;
}

.hint {
  background: url('/assets/idea.png') 5px 5px no-repeat;
  /*background-size: 20px;*/
  border-top: 1px solid #eef;
  border-bottom: 1px solid #eef;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 40px;
  margin-left: 0.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: smaller;
  min-height: 30px;
}

table.inline {
  border-collapse: collapse;
  margin-bottom: 15px;
  width: 100%;
  th {
    background-color: #eef;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-weight: 500;
    text-align: left;
    white-space: nowrap;
  }
  td {
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  th.code, td.code {
    font-family: monospace;
  }
  &.small-contents td {
    font-size: smaller;
  }
}
