.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

.container {
  /*font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px 10px;

  &.small {
    max-width: 700px;
  }
}

.container .brand {
  position: relative;
  /*padding-left: 360px;*/
  padding-left: 230px;
  /*margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;*/
  min-height: 310px;
}

.container .brand .logo {
  display: block;
  position: absolute;
  left: -20px;
  top: 20px;
  border: 0;
}

.container .brand h1 {
  font-weight: bold;
  letter-spacing: -0.04em;
  display: inline-block;
  margin: 0;
  color: #3e4981;
  font-size: 100px;
  line-height: 1;
  padding-top: 60px;
}

.container .brand h3 {
  font-weight: bold;
  letter-spacing: -0.04em;
  margin: 0 0 30px;
  font-size: 48px;
  line-height: 1;
  color: #222;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.yamcs-header {
  position: absolute;
  left: 40px; /* separate with image */
  top: -10px - 10px  + (48px - 10px - 10px - 10px - 10px);

  a {
    text-decoration: none;
  }

  a.hover {
    text-decoration: none;
  }

  h3 {
    display: inline;
    font-size: 30px;
    line-height: 48px;
    font-weight: bold;
    color: #3e4981;
  }
}

.network-nav {
  font-weight: bold;
  font-size: 16px;
  position: relative;
  display: inline;
  float: right;
  z-index: 2; /* to capture clicks from under brand */
}

.network-nav li {
  display: inline;
}

.network-nav a {
  color: #222;
  font-weight: 300;
  padding: 0.2em 15px;
  border-radius: 4px;

  &.special {
    /*background-color: #bada55;*/
  }
}

.site-header {
  background: #eee;
  color: #543729;
  padding: 10px 0;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid #e8e8e8;
}

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: -0.025em;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 220px;
  color: #222;
}

.page-logo {
  height: 40px;
  position: absolute;
  top: 5px;
  left: -40px;
}

.icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 1px solid #3e4981;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;

  .icon {
    line-height: 80px;
  }
}

.sidebar {

  /*padding-top: 30px;*/
  border-right: 1px solid #e8e8e8;

  li > a {
    text-overflow: ellipsis;
  }


  a.sidebar-link {
    display: block;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: $grey-color-light;
    margin-bottom: 5px;
    color: #222;
  }

  a.sidebar-item-hdr {
    display: block;
    /*border-radius: 5px;*/
    padding: 5px 10px;
    /*background-color: $grey-color-light;*/
    margin-bottom: 5px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: #222;

    &:hover {
      background-color: $grey-color-light;
    }
  }

  .active > .sidebar-item-hdr {
    background-color: #1756a9 !important;
    color: white !important;
  }

  .expanded > .sidebar-item-hdr {
    /*border-left: 2px solid #eef;*/
    background-color: $grey-color-light;
  }

  a.sidebar-link-2 {
    padding-left: 1em;
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-decoration: none;
    color: #222;
    font-size: 14px;

    &:hover {
      background-color: #efefef;
    }

    &.expanded {
      background-color: $grey-color-light;
    }

    &.active {
      /*border-left: 2px solid #3e4981;*/
      background-color: #1756a9 !important;
      color: white !important;
    }
  }

  a.sidebar-link-3 {
    display: block;
    padding-left: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    text-decoration: none;
    color: #222;
    font-size: 13px;

    &:hover {
      background-color: #efefef;
    }

    &.active {
      font-weight: 400;
      border-left: 2px solid #3e4981;
    }
  }

  .sidebar-item-2 {
    /*font-weight: bold;*/
    color: #222;
    display: block;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    font-size: 14px;

    &.active {
      /*font-weight: 400;*/
      /*border-left: 2px solid #3e4981;*/
      background-color: #1756a9 !important;
      color: white !important;
    }
  }

  .sidebar-item-3 {
    color: #222;
    display: block;
    font-size: 13px;
    padding-left: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;

    &.active {
      /*font-weight: 400;*/
      background-color: #1756a9 !important;
      color: #fff;
    }
  }

  ul.items {
    list-style: none;
    padding-left: 0;
    margin-left: 30px;
    border-left: 1px solid $grey-color-light;
  }

  ul.items > li > ul {
    list-style-image: url('/assets/chevron-right.png');

    li.active {
      list-style-image: url('/assets/chevron-right-active.png');
    }
  }

  .sidebar-item.collapsed ul.items {
    display: none;
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }

    &.special {
      /*background-color: #2a7ae2;*/
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}


.next-link {
  float: right;
  font-size: 12px;
}

ul.contact-list {
  list-style: none;
  margin-left: 0;
  font-size: smaller;
}

.page-subheader {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: smaller;
  margin-bottom: 10px;
  color: #aaa;
}

#content {
  min-height: 600px;

  h3 {
    border-bottom: 1px solid #e8e8e8;
    padding-top: 0.5em;

    &.noborder {
      border: none;
    }
  }
}

.main {

  &.with-sidebar {
    margin-left: 230px;
  }
}

.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey-color;
    }
  }
}

.footer-inset .text {
  font-size: smaller;
}

.site-footer {
  padding: $spacing-unit 0;
}

.footer-inset {
  border-top: 1px solid $grey-color-light;
  padding-top: 0.5em;

  &.with-sidebar {
    margin-left: 230px;
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

.sidebar {
  position: absolute;
  left: 10px;
  top: 0;
  width: 200px;
}

a img.page-logo {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

a:hover img.page-logo {
  opacity: 0.4;
}
