html, body{
	margin:0;
	padding:0;
	font-size:100%;
	font-weight:normal;
	font-style:normal;
	font-family:"Pontano Sans",Console,"Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
	color:#333333;
}

html{
	background:#f0f0f0;
	background:-webkit-linear-gradient(bottom, #777777 20%, #ffffff 100%) fixed;
	background:-moz-linear-gradient(bottom, #777777 20%, #ffffff 100%) fixed;
	background:-ms-linear-gradient(bottom, #777777 20%, #ffffff 100%) fixed;
	background:-o-linear-gradient(bottom, #777777 20%, #ffffff 100%) fixed;
	background:linear-gradient(bottom, #777777 20%, #ffffff 100%) fixed;
}


/**/
body{
	position:relative;
	width:720px;
	margin:0px auto;
	padding:40px 30px 20px 10px;
	font-size:0.8em;
	background:#ffffff;
}

article,section,nav,footer,header,figure,figcaption{
	display:block;
	margin:0;
	padding:0;
}

article,section{
	margin:10px 0 20px 0;
}

h1,h2,h3,h4,h5,h6{
	margin:0;
	padding:0;
	font-style:normal;
	font-weight:normal;
}

h1{
	font-size:2.4em;
}

h2{
	margin:5px 0 15px;
	font-size:1.6em;
	color:#336699;
}

h3{
	margin:5px 0 10px;
	font-size:1.2em;
	color:#336699;
	border-bottom:1px solid #cccccc;
}

ul{
	list-style-type:square;
}

p, li{
	text-align:justify;
	line-height:1.4;
}

a{
	color:#336699;
	text-decoration:none;
}

a:hover{
	color:#777777;
}

a:visited{
	color:#045491;
}

article a[href^='http://']{
	color:#333333;
}

article a[href^='http://']:after{
	content:" >>";
	padding:0 0 0 4px;
}
p a{
	color:#333333;
	border:none;
}

p a:visited{
	color:#333333;
}

table{
	width:100%;
	border-collapse:collapse;
}

table td, table th{
	padding:6px 4px 4px;
}

table thead tr{
	color:#ffffff;
	background:#336699;
}

table tbody td:nth-child(n+2){
	text-align:center;
}

table tbody tr:nth-child(even){
	background:#f0f0ff;
}
