<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include page-header.html %}

    <div id="content">
      <div class="container{% if page.sidebar == false %} small{% endif %}">

        {% assign structure=false %}
        {% if page.sidebar and page.url contains '/docs/server' %}
          {% assign structure=site.data.sidebar.guides.server %}
        {% endif %}

        {% if page.sidebar and page.url contains '/docs/studio' %}
          {% assign structure=site.data.sidebar.guides.studio %}
        {% endif %}

        {% if structure %}
          {% include sidebar.html structure=structure %}
        {% endif %}

        <div class="main{% if page.sidebar %} with-sidebar{% endif %}">
          {% if page.sidebar %}
            {% include page-subheader.html %}
          {% endif %}
          <h3>
            {% include next-link.html structure=structure %}

            {% if page.title %}
              {{ page.title }}
            {% else %}
              {{ page.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
            {% endif %}
          </h3>
          {{ content }}

          {% include next-link.html structure=structure %}
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script src="/js/site.js"></script>
  </body>
</html>
