<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    {% include page-header.html %}

    <div id="content">
      <div class="container{% if page.sidebar == false %} small{% endif %}">

        {% assign structure=false %}
        {% assign title='' %}

        {% assign documents = "server,studio,tools,api" | split: ',' %}
        {% assign titles = "x,Yamcs Server Manual,Yamcs Studio User Guide,Yamcs Client Tools Guide,Yamcs Server API" | split: ',' %}

        {% for document in documents %}
          {% capture myurl %}/docs/{{ document }}{% endcapture %}
          {% if page.sidebar and page.url contains myurl %}
            {% assign title = titles[forloop.index] %}
            {% if page.version %}
              {% capture structureName %}{{ document }}_{{ page.version | replace: '.', '_'}}{% endcapture %}
              {% assign structure=site.data.sidebar.guides[structureName]%}
            {% else %}
              {% assign structure=site.data.sidebar.guides[document] %}            
            {% endif %}
          {% endif %}
        {% endfor %}

        {% if structure %}
          {% include sidebar.html structure=structure title=title %}
        {% endif %}

        <div class="main{% if page.sidebar %} with-sidebar{% endif %}">
          {% if page.sidebar %}
            {% include page-subheader.html %}
          {% endif %}
          <h1>
            {% include next-link.html structure=structure %}

            {% if page.title %}
              {{ page.title }}
            {% else %}
              {{ page.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
            {% endif %}
          </h1>
          {{ content }}

          {% if page.chapter %}
            <div class="chaptertoc">
              In this chapter:<br>
              {% for chapter in structure %}
                {% if chapter.url == page.url %}
                  <ul>
                  {% for item_i in chapter.items %}
                    {% for p in site.pages %}
                      {% if p.url == item_i.url %}
                        <li>
                          {% if p.title %}
                            <a href="{{ p.url }}">{{ p.title }}</a>
                          {% else %}
                            <a href="{{ p.url }}">{{ p.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}</a>
                          {% endif %}
                        </li>
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endfor %}
            </div>
          {% endif %}

          {% if page.section %}
          <div class="chaptertoc">
            In this section:<br>
            {% for chapter in structure %}
              <ul>
              {% for item_i in chapter.items %}
                {% if item_i.url == page.url %}
                  {% for item_j in item_i.items %}
                    {% for p in site.pages %}
                      {% if p.url == item_j.url %}
                        <li>
                          {% if p.title %}
                            <a href="{{ p.url }}">{{ p.title }}</a>
                          {% else %}
                            <a href="{{ p.url }}">{{ p.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}</a>
                          {% endif %}
                        </li>
                        {% break %}
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
              </ul>
            {% endfor %}
          </div>
          {% endif %}

          <p>&nbsp;</p>
          {% include next-link.html structure=structure %}
        </div>
      </div>
    </div>

    {% include footer.html %}
    <script src="/js/site.js"></script>
  </body>
</html>
