<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>
      {% if page.layout == 'home' %}
        {{ site.title }}
      {% else %}
        {% if page.title %}
          {{ page.title }} | Yamcs
        {% else %}
          {{ site.title }}
        {% endif %}
      {% endif %}
    </title>
    <link rel="stylesheet" href="/css/print2.css">
    <link rel="stylesheet" href="/css/print.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  </head>

  <body>
    <div id="content">
      <div class="container">
        <div class="main">
          {% for chapter in site.data.sidebar.guides[page.guide] %}
            <h1 class="toc{% if forloop.first == false %} newpage{% endif %}">
              {% if chapter.title %}
                {{ chapter.title }}
              {% else %}
                {% for p in site.pages %}
                  {% if p.url == chapter.url %}
                    {{ p.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endif %}
            </h1>

            {% for p in site.pages %}
              {% if p.url == chapter.url %}
                {{ p.content }}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if chapter.items %}
              {% for item in chapter.items %}
                {% assign newpage=true %}
                {% if forloop.first %}
                  {% assign newpage=false %}
                {% endif %}
                {% for p in site.pages %}
                  {% if p.url == item.url %}
                    <h2 class="toc{% if newpage == true %} newpage{% endif %}">
                      {% if p.title %}
                        {{ p.title }}
                      {% else %}
                        {{ p.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
                      {% endif %}
                    </h2>
                    {{ p.content }}

                    {% for item_j in item.items %}
                      {% for p_j in site.pages %}
                        {% if p_j.url == item_j.url %}
                          <h3 class="toc">
                            {% if p_j.title %}
                              {{ p_j.title }}
                            {% else %}
                              {{ p_j.name | remove:'.md' | remove: '.html' | replace: '_',' ' }}
                            {% endif %}
                          </h3>
                          {{ p_j.content }}
                          {% break %}
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                    {% break %}
                  {% endif %}
                {% endfor %}
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </body>
</html>
